    html{
        height: 100%;
        width : 100%;
        margin: 0;
    }
    body {
    	height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        /*background-color: #364838;*/
        background-color: #303030;
        overflow: hidden;
        text-align: center;
    }

    canvas {
        position:fixed;
        left:0px;
        top:0px;
        z-index: 1;
    }

#container{
   height: 100%;
   width: 100%;
}

.header{
    box-shadow: 0px 0px 50px rgba(0,0,0,0.6);
    background: rgba(0,0,0,0.4);
    border: 0px solid black;

    font-family: "Lucida Console";
    font-size: 2em;
    color: white;

    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -3em;
    margin-left: -9em;

    padding-left: 1em;
    padding-right: 1em;

    z-index: 15;

    height: 4em;
    width: 18em;
    line-height: 2em;
    text-align: left;
}

.intro{
    width: 250px;
}

.desc{
    min-width: 4em;
    width: auto;
}


#header{

    /*top: 50%;*/

}

#footer{

    top: 85%;

}

    */
    .NN {
    	position:fixed;
    	left: 3%;
    	height: 500px;
    	width: auto;
    }

    div.circle-avatar{

       background-image: url(../img/EXIST_Lennart.jpg);
       /* make it responsive */
       z-index: 1001;
       position:relative;

       /*max-width: 100%;*/
       width:120px;
       /*height:auto;*/
       display:block;
       /* div height to be the same as width*/
       height:120px;

       /* make it a circle */
       border-radius:50%;

       /* Centering on image`s center*/
       background-position-y: center;
       background-position-x: center;
       background-repeat: no-repeat;

       /* it makes the clue thing, takes smaller dimension to fill div */
       background-size: cover;

       /* it is optional, for making this div centered in parent*/
       margin: 0 auto;
       top: 0;
       left: 0;
       right:0;

       border:0px solid black;
   }

   div.intro{

     font-family: monospace;

     position:relative;
     top: 60%;
     left: 1%;
 }

 .paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

 .typed-cursor{
    opacity: 0;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
}

@keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}









